<section id="contacto">
  <h2 class="section-title">Contacto</h2>
  <p class="section-subtitle">¿Tienes preguntas? Contáctanos</p>

  <div class="contact-content">

    <!-- Tarjeta de la Novia -->
    <div class="contact-card">
      <div class="contact-icon">{{ bride().icon }}</div>

      <div class="contact-name" (click)="instaLink(bride().igLink)" aria-label="Nombre de la Novia y Enlace a Instagram">
        <svg width="28" height="28"><use xlink:href="./sprite.svg#instagram" /></svg>
        <h3>{{ bride().name }}</h3>
      </div>

      <p class="role">{{ bride().role }}</p>

      <div class="contact-number" (click)="whatsappLink(bride().waLink)" aria-label="Número de Contacto y Enlace para escribir a WhatsApp">
        <svg width="28" height="28"><use xlink:href="./sprite.svg#whatsapp" /></svg>
        {{ bride().phone }}
      </div>
    </div>

    <!-- Tarjeta del Novio -->
    <div class="contact-card">
      <div class="contact-icon">{{ groom().icon }}</div>

      <div class="contact-name" (click)="instaLink(groom().igLink)" aria-label="Nombre de la Novia y Enlace a Instagram">
        <svg width="28" height="28"><use xlink:href="./sprite.svg#instagram" /></svg>
        <h3>{{ groom().name }}</h3>
      </div>

      <p class="role">{{ groom().role }}</p>

      <div class="contact-number" (click)="whatsappLink(groom().waLink)" aria-label="Número de Contacto y Enlace para escribir a WhatsApp">
        <svg width="28" height="28"><use xlink:href="./sprite.svg#whatsapp" /></svg>
        {{ groom().phone }}
      </div>
    </div>

    <!-- Tarjeta de Lista de Regalos -->
    <div class="contact-card gift-card">
      <div class="contact-icon">{{ giftRegistry().icon }}</div>
      <h3>{{ giftRegistry().title }}</h3>

      <div class="gift-items" (click)="copyPhone('3213101495')">
        @for (item of giftRegistry().items; track trackByItem($index, item)) {
          <p>- {{ item }}</p>
        }
      </div>
    </div>

  </div>
</section>
