<section id="ubicacion">
  <h2 class="section-title">Ubicación</h2>
  <p class="section-subtitle">Cómo llegar a nuestro evento</p>

  <div class="location-content">
    <!-- Información de ubicación -->
    <div class="location-info">
      <div class="info-card">
        <div class="card-text">
          <h3>📍 Detalles del evento</h3>

          <p><strong>Fecha:</strong> xx de xx de 2026</p>
          <p><strong>Hora:</strong> 03:00 p.m.</p>
          <p><strong>Dirección:</strong> Calle 1 # 9-79, Salario Restaurante - Zipaquirá, Cundinamarca</p>
        </div>

        <a
          href="#"
          (click)="openGoogleMaps(); $event.preventDefault()"
          class="btn"
          style="margin-top: 1rem;">
          Abrir en Google Maps
        </a>
      </div>
      <div class="info-card">
        <h3>🚗 Parking</h3>

        <p>El establecimiento dispone de parqueadero privado y vigilado para tu comodidad.</p>
        <ul>
          <li>Capacidad para: xx Autos</li>
          <li>Cobro por hora: $x.xxx</li>
          <li>Más opciones de parqueadero cercanos</li>
        </ul>
      </div>
    </div>

    <!-- Mapa -->
    <div class="map-container">
      <iframe [src]="safeMapUrl()" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" aria-label="Mapa de la ubicación del evento"></iframe>
    </div>


  </div>
</section>
