<section id="faq">
  <h2 class="section-title">Preguntas Frecuentes</h2>
  <p class="section-subtitle">Todo lo que necesitas saber</p>

  <div class="faq-container">
    @for (item of faqItems(); track trackByQuestion($index, item); let i = $index) {
      <div class="faq-item" [class.active]="item.isOpen">

        <!-- Pregunta -->
        <div class="faq-question" (click)="toggleFAQ(i)">
          <span>{{ item.question }}</span>
          <span class="faq-icon">▼</span>
        </div>

        <!-- Respuesta -->
        <div class="faq-answer">
          <!-- <p>{{ item.answer }}</p> -->
          <p class="answer" [innerHTML]="item.answer"></p>
        </div>
      </div>
    }
  </div>

  <!-- Botones opcionales para expandir/contraer todo -->
  <!--
  <div class="faq-controls">
    <button class="btn-control" (click)="expandAll()">Expandir todo</button>
    <button class="btn-control" (click)="collapseAll()">Contraer todo</button>
  </div> -->

</section>
