.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: var(--primary);
}

.timeline-item {
  display: flex;
  margin-bottom: 1.5rem;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline-content {
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 45%;
  padding: 1.5rem;
  box-shadow: 0 5px 20px var(--shadow);
  border-radius: 10px;
  color: var(--dark);

  .timeline-year {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: var(--primary);
  }

  h3 {
    color: var(--secondary);
    font-size: 1.4rem;
  }

  .timeline-img{
    width: 60%;
    height: 120px;
    text-align: center;
    background-color: white;


    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

}

.timeline-icon {
  width: 60px;
  height: 60px;
  background: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--white);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}


.icon-effect-1{
  color: red;
  animation: latidos 1.3s infinite;
  transform-origin: center;
}

@keyframes latidos {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1.1);
  }
}

.space-45 {  width: 45%; }

@media (max-width: 768px) {
  .timeline::before {
    left: 30px;
  }

  .timeline-item {
    flex-direction: row !important;
  }

  .timeline-content {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  .space-45 {
    display: none;
  }

  .timeline-icon {
    position: absolute;
    left: 0;
  }

  .timeline-img{
    width: 100% !important;
    height: 150px !important;


  }
}

@media (max-width: 480px) {
  .timeline-year {
    font-size: 1.2rem;
  }

  .timeline-content h3 {
    font-size: 1.2rem;
  }
}




