/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #bb9b55;
  --secondary: #000000;
  --light: #f8f8f8;
  --white: #ffffff;
  --dark: #2c2c2c;
  --shadow: rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: var(--dark);
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* SECTIONS */
section {
  padding: 6rem 5% 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: .5rem;
  color: var(--secondary);
}

.section-subtitle {
  text-align: center;
  color: var(--primary);
  margin-bottom: 4rem;
  font-size: 1.1rem;
}


/* FOOTER */
footer {
  background: var(--secondary);
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

/* ANIMATIONS */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }


}

@media (max-width: 768px) {
  section{
    padding: 2rem 5% 2rem;
  }

  .section-title {
    font-size: 2.2rem;
  }

  .section-subtitle {
    margin-bottom: 2rem;
  }
}
